# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# IDE-specific
.idea/

# Custom directories
insert_data/

# Sensitive files
config.py  # Nếu không dùng biến môi trường

# OS-specific
.DS_Store
Thumbs.db

# Test and coverage
.pytest_cache/
.coverage
.coverage.*